/*Blog posts section*/


.blog-post-article
  margin-bottom 75px

.blog-post-image-box
  padding-left 0
  overflow hidden

  .blog-post-img
    width 100%

.blog-post-info-container
  padding-right 0

  .blog-post-title
    display flex
    margin-bottom 25px

  .blog-post-date-wrapper
    display flex
    align-items center
    width 76px
    height 76px
    margin-right 25px
    background-color #f7f7f7
    border 2px solid #555555
    font-size 24px
    letter-spacing 2px
    line-height 20px
    color: rgb(119,119,119)
    font-family "Montserrat"
    font-weight bold
    text-align center

  .blog-post-heading-wrapper
    display flex
    flex-direction column
    justify-content space-around
    padding 10px 0

    .blog-post-heading
      color #555555
      font-weight 600

      &:hover
        color #c0301c
        text-decoration none

  .blog-post-author-box
    font-style italic
    color #777777

    .blog-post-author,
    .blog-post-theme
      color #777777

      &:hover
        color #dc3a0d
        text-decoration none

  .blog-post-text
    font-size 14px
    line-height 24px
    color #555555
    margin-bottom 55px

  .blog-post-read-more
    font-size 13px
    font-weight 600
    color #777777

    &:hover
      text-decoration none
      color #c0301c

/*Blog posts section end*/
