/*Footer section*/

.footer-section
  background #c0301c
  color: #fff

  .break-line
    background #fff

  .socials-container
    display flex
    justify-content center
    padding 0
    list-style none

    .socials-item
      margin: 0 15px

      &:first-child
        margin-left 0

      &:last-child
        margin-right 0

      .socials-link
        display block
        position: relative
        width 35px
        height 35px
        border 2px solid #fff
        border-radius 50%

        &:hover
          background-color: #fff

          .fa
            color #c0301c

        .fa
          position absolute
          top 7px
          left 7px
          font-size 20px
          color #fff

          &.fa-facebook-f
            top 6px
            left 10px

          &.fa-google-plus
            top 6px
            left 4px

          &.fa-linkedin
            top 5px
            left 8px

/*Footer section end*/
