/*Get in touch section*/

.get-in-touch-section
  position: relative
  background-image: url('../img/get-in-touch-bg.png')
  background-size  100% 100%
  color: #ffffff

  .watchword
    text-align center
    margin-bottom 50px
    font-size 30px

/*Get in touch section end*/