/*Page Header*/

.header
  position fixed
  z-index 1
  color #ffffff
  padding 10px 0

  .logo
    font-family 'montserratbold'

  &.navbar-custom.is-brighter
    background-color: rgba(116, 31, 27, 0.5);

  .nav-link
    font-family 'montserratregular'
    color #ffffff
    text-decoration none

    &:hover
      color #e6e5e5

/*Page Header end*/