/*Services section*/

.services-section
  height 575px

.section-heading-row
  text-align center
  margin-bottom 70px

.services-heading
  text-transform uppercase
  font-size 26px
  margin-bottom: 30px

.break-line
  width 60px
  height 2px
  display block
  background #555555
  margin 0 auto 20px

.section-description
  font-size 22px

.advantages-list
  list-style none
  padding 0
  margin 0


.advantage-box
  text-align center

.advantage-img-container
  width 90px
  height 90px
  box-sizing border-box
  border 2px solid #eee
  border-radius 50%
  margin 0 auto 20px
  font-size 50px
  color #c0301c
  position relative

  &:hover
    color #fff
    background-color #c0301c
    cursor pointer

  .fa-life-ring
    position absolute
    top 18px
    left 18px

.advantage-heading
  font-size 18px
  line-height 32px
  text-transform: uppercase
  margin-bottom 10px

.advantage-description
  height: 60px
  font-size: 18px
  line-height: 19px
  overflow: hidden

/*Services section end*/