@import '../../node_modules/bootstrap/dist/css/bootstrap.css'
@import "../../node_modules/slick-carousel/slick/slick.css"
@import "../../node_modules/slick-carousel/slick/slick-theme.css"

.width-container
  max-width 1370px
  margin 0 auto

.section
  padding 100px 0
  color: #555555

.is-uppercased
  text-transform uppercase

@import "header.styl"
@import "home-section.styl"
@import "header.styl"
@import "home-section.styl"
@import "services-section.styl"
@import "about-section.styl"
@import "latest-works-section.styl"
@import "get-in-touch-section.styl"
@import "blog-posts-section.styl"


