/*About section*/

.about-section
  background #f8f8f8

.about-info-row
  margin-bottom 80px

.about-info
  font-size: 18px
  line-height: 19px
  overflow: hidden

.employees-list
  list-style none
  display: flex
  justify-content: space-between

.employee-photo-box
  position relative
  width: 260px
  height: 250px
  overflow: hidden
  margin 0 auto 10px
  &:hover
    background #888888
    & .employee-photo
      opacity 0.5
    & .socials-box
      opacity 1

.employee-photo
  width 100%
  height 100%

.employee-info-box
  text-align center

.employee-info-name
  font-size 18px
  text-transform uppercase

.employee-info-position
  font-size 16px
  max-height: 50px;

.slick-next,
.slick-prev
  background #c7c7c7
  width 25px
  height 40px
  top: 125px
  z-index 1

  &:hover
    background #c0301c

  &:focus
    background: #c7c7c7

    &:hover
      background #c0301c


.slick-next
  right 15px

.slick-prev
  left 15px

.socials-box
  width: 130px
  display: flex
  justify-content: space-between
  position: absolute
  bottom: 35px
  transform translateX(50%)
  list-style: none
  opacity: 0
  padding: 0
  margin: 0 auto

.social-button-container:hover
  background: #c0301c

.employee-social-btn
  display: block
  width 28px
  height 28px
  &.facebook-btn
    background: url('../imgs/icons/icon-facebook.svg') no-repeat;
    background-size: 16px;
    background-position: 6px 6px;
  &.twitter-btn
    background: url('../imgs/icons/icon-twitter.svg') no-repeat;
    background-size: 16px;
    background-position: 6px 6px;
  &.google-btn
    background: url('../imgs/icons/icon-google-plus.svg') no-repeat;
    background-size: 16px;
    background-position: 6px 6px;
  &.linkedin-btn
    background: url('../imgs/icons/icon-linkedin.svg') no-repeat;
    background-size: 16px;
    background-position: 6px 6px;

/*About section end*/