/*Latest Works*/

.works-category-list
  padding 0
  list-style none
  display: flex
  justify-content center

.works-category-item
  margin 0 10px

.works-category-item-name
  color #555555
  &:hover
    color #c0301c
    text-decoration none

.works-thumbs-container
  display flex
  justify-content space-between
  flex-wrap wrap

.works-thumb-box
  width 360px
  height 320px
  margin-bottom 30px

/*Latest Works end*/