.width-container
  max-width 1370px
  margin 0 auto

/*Page Header*/

.header
  position: fixed;
  z-index: 1;
  color: white;

/*Page Header end*/


/*Home section*/

.home-section
  position: relative
  background-image: url('../../app/imgs/home-bg.png')
  background-size  100% 100%
  background-attachment: fixed, fixed
  color: #ffffff

.bg-overlay
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background #000
  opacity: 0.4

.get-started-box
  height: 100vh
  min-height: 765px

.logo,
.welcome,
.slogan,
.start-button-box
  text-align center

.welcome
  text-transform uppercase
  font-size 48px

.slogan
  font-size: 24px

.start-button
  background transparent
  border 2px solid #fff
  border-radius 2px
  font-size 18px
  color #fff
  text-transform: uppercase
  outline none
  font-weight 600
  padding 10px 25px

/*Home section end*/


/*Services section*/

.services-section
  height 575px
  padding 100px 0
  color: #555555

.section-heading-row
  text-align center
  margin-bottom 70px

.services-heading
  text-transform uppercase
  font-size 26px
  margin-bottom: 30px

.break-line
  width 60px
  height 2px
  display block
  background #555555
  margin 0 auto 20px

.section-description
  font-size 22px

.advantages-list
  list-style none
  padding 0
  margin 0


.advantage-box
  text-align center

.advantage-img-container
  width 90px
  height 90px
  box-sizing border-box
  border 2px solid #eee
  border-radius 50%
  margin 0 auto 30px


.advantage-heading
  font-size 18px
  line-height 32px
  text-transform: uppercase
  margin-bottom 25px

.advantage-description
  height: 60px
  font-size: 18px
  line-height: 19px
  overflow: hidden

/*Services section end*/
